<div class="col-md-8 col-md-8-offset-2">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" formControlName="email">
        </div>
        <div class="form-group">
            <label for="password">password</label>
            <input type="password" id="password" class="form-control" formControlName="password">
        </div>
        <button
                class="btn btn-prmary"
                type="submit"
                [disabled]="!signupForm.valid"
        >Submit</button>
    </form>
</div>